__pycache__/
*.py[cod]
*.egg-info/
*.egg

.env
.venv
venv/

terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
*.tfstate
*.tfstate.*

certs/

.idea/
.vscode/
